* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
  /* border: 10px solid black; */
}

main {
  width: 100%;
}

form {
  width: min(90%, 40rem);
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}

input,
textarea {
  width: 100%;
  padding: 0.75rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 100ms;
}

input:focus,
textarea:focus {
  outline: 1.5px solid #b1ec52;
  outline-offset: 0.25rem;
}

button {
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  background: #b1ec52;
  font-weight: bold;
  color: black;
  width: 100%;
}

img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

@media (width >= 1200px) {
  main {
    flex-direction: row;
  }
}

footer {
  font-size: 0.875rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
